.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.bi-eye-nested-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-eye-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z'/%3E%3C/svg%3E");
}

.bi-dd-people-fill {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-eye-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5'/%3E%3C/svg%3E");
}

.bi-dd-parmacy {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 48 48'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.8708 16.5029L26.5001 16.5029C27.0523 16.5029 27.5001 16.0552 27.5001 15.5029C27.5001 14.9506 27.0523 14.5029 26.5001 14.5029L23.8708 14.5029C23.5214 14.503 23.1149 14.56 22.7209 14.7523C21.2959 15.4476 20.4893 16.6497 20.0467 17.8209C19.8971 18.2165 19.786 18.6158 19.7045 19.0029H21.7622C21.8068 18.8436 21.8583 18.6846 21.9175 18.528C22.2394 17.6764 22.7625 16.9573 23.5979 16.5497C23.6444 16.527 23.7301 16.5029 23.8708 16.5029ZM18.0001 20.0029C17.4478 20.0029 16.9874 20.4588 17.1366 20.9906C17.7143 23.05 20.0631 24.6522 23.0001 24.9523V26.5105C22.3051 26.5275 21.5829 26.5829 20.9705 26.7612C20.492 26.9005 19.9849 27.1393 19.5969 27.575C19.1907 28.0312 19 28.6074 19 29.25C19 29.8932 19.1902 30.47 19.5958 30.9272C19.9836 31.3641 20.4906 31.6038 20.9696 31.7437C21.2897 31.8372 21.6397 31.897 22 31.9353V29.9217C21.8289 29.8972 21.6722 29.8653 21.5305 29.8239C21.2595 29.7448 21.1415 29.6558 21.0918 29.5997C21.0599 29.5638 21 29.4833 21 29.25C21 29.0191 21.0594 28.9401 21.0907 28.905C21.1402 28.8493 21.2581 28.7605 21.5296 28.6814C21.9135 28.5697 22.4074 28.5277 23.0001 28.5121V29.9938L23 31.9954L23.0001 34.0029H20.0001V36.0029H28.0001V34.0029H25.0001V28.4661C26.1018 28.3797 26.9948 28.1376 27.6667 27.7046C28.6123 27.0953 29 26.1881 29 25.2252C29 24.7019 28.8853 24.199 28.6292 23.7536C29.754 23.0448 30.5574 22.0819 30.8635 20.9906C31.0127 20.4588 30.5523 20.0029 30.0001 20.0029H18.0001ZM26.5833 26.0235C26.3 26.2061 25.8089 26.3795 25.0001 26.4584V24.9523C25.6205 24.8889 26.2147 24.7674 26.7715 24.5957C26.9363 24.7528 27 24.9436 27 25.2252C27 25.5956 26.8878 25.8272 26.5833 26.0235Z'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M32 32H42V16H32V6H16V16H6V32H16V42H32V32ZM30 40V30H40V18H30V8H18V18H8V30H18V40H30Z'%3E%3C/path%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.bi-dd-parmacy2 {
    width: 16px;
    height: 16px;
    background-color: white;
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M0 0 C6.93 0 13.86 0 21 0 C21 2.64 21 5.28 21 8 C16.71 8 12.42 8 8 8 C8 12.29 8 16.58 8 21 C5.36 21 2.72 21 0 21 C0 14.07 0 7.14 0 0 Z" fill="white" transform="translate(27,27)"/><path d="M0 0 C6.93 0 13.86 0 21 0 C21 6.93 21 13.86 21 21 C18.36 21 15.72 21 13 21 C13 16.71 13 12.42 13 8 C8.71 8 4.42 8 0 8 C0 5.36 0 2.72 0 0 Z" fill="white" transform="translate(0,27)"/><path d="M0 0 C2.64 0 5.28 0 8 0 C8 4.29 8 8.58 8 13 C12.29 13 16.58 13 21 13 C21 15.64 21 18.28 21 21 C14.07 21 7.14 21 0 21 C0 14.07 0 7.14 0 0 Z" fill="white" transform="translate(27,0)"/><path d="M0 0 C2.64 0 5.28 0 8 0 C8 6.93 8 13.86 8 21 C1.07 21 -5.86 21 -13 21 C-13 18.36 -13 15.72 -13 13 C-8.71 13 -4.42 13 0 13 C0 8.71 0 4.42 0 0 Z" fill="white" transform="translate(13,0)"/></svg>');
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M0 0 C6.93 0 13.86 0 21 0 C21 2.64 21 5.28 21 8 C16.71 8 12.42 8 8 8 C8 12.29 8 16.58 8 21 C5.36 21 2.72 21 0 21 C0 14.07 0 7.14 0 0 Z" fill="white" transform="translate(27,27)"/><path d="M0 0 C6.93 0 13.86 0 21 0 C21 6.93 21 13.86 21 21 C18.36 21 15.72 21 13 21 C13 16.71 13 12.42 13 8 C8.71 8 4.42 8 0 8 C0 5.36 0 2.72 0 0 Z" fill="white" transform="translate(0,27)"/><path d="M0 0 C2.64 0 5.28 0 8 0 C8 4.29 8 8.58 8 13 C12.29 13 16.58 13 21 13 C21 15.64 21 18.28 21 21 C14.07 21 7.14 21 0 21 C0 14.07 0 7.14 0 0 Z" fill="white" transform="translate(27,0)"/><path d="M0 0 C2.64 0 5.28 0 8 0 C8 6.93 8 13.86 8 21 C1.07 21 -5.86 21 -13 21 C-13 18.36 -13 15.72 -13 13 C-8.71 13 -4.42 13 0 13 C0 8.71 0 4.42 0 0 Z" fill="white" transform="translate(13,0)"/></svg>');
}


.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.37);
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
